#validated-address-form h4 {
    margin-top: 10px;
}

.validated-addresses-modal #validated-address-form {
    padding: 20px;
}

.zipcode-lookup-progress:after {
    display: block;
    content: "";
    width: 22px;
    height: 5px;
    background: transparent url('../images/ajax-loader.gif') no-repeat;
}