<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_AddressValidation>
            <version>0.1.0</version>
        </BlueAcorn_AddressValidation>
    </modules>
    <global>
        <models>
            <blueacorn_addressvalidation>
                <class>BlueAcorn_AddressValidation_Model</class>
                <resourceModel>blueacorn_addressvalidation_resource</resourceModel>
            </blueacorn_addressvalidation>
            <blueacorn_addressvalidation_resource>
                <class>BlueAcorn_AddressValidation_Model_Resource</class>
            </blueacorn_addressvalidation_resource>
        </models>
        <resources>
            <blueacorn_addressvalidation_setup>
                <setup>
                    <module>BlueAcorn_AddressValidation</module>
                </setup>
            </blueacorn_addressvalidation_setup>
        </resources>
        <blocks>
            <blueacorn_addressvalidation>
                <class>BlueAcorn_AddressValidation_Block</class>
            </blueacorn_addressvalidation>
        </blocks>
        <helpers>
            <blueacorn_addressvalidation>
                <class>BlueAcorn_AddressValidation_Helper</class>
            </blueacorn_addressvalidation>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <blueacorn_addressvalidation>
                    <file>blueacorn/addressvalidation.xml</file>
                </blueacorn_addressvalidation>
            </updates>
        </layout>
        <routers>
            <blueacorn_addressvalidation>
                <use>standard</use>
                <args>
                    <module>BlueAcorn_AddressValidation</module>
                    <frontName>ba_validation</frontName>
                </args>
            </blueacorn_addressvalidation>
            <checkout>
                <args>
                    <modules>
                        <BlueAcorn_AddressValidation before="Mage_Checkout">BlueAcorn_AddressValidation_Checkout</BlueAcorn_AddressValidation>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <ba_addressvalidation_send_response_before>
                <observers>
                    <ba_addressvalidation_form>
                        <class>blueacorn_addressvalidation/observer</class>
                        <method>addFormHtml</method>
                    </ba_addressvalidation_form>
                    <ba_addressvalidation_error>
                        <class>blueacorn_addressvalidation/observer</class>
                        <method>addErrorHtml</method>
                    </ba_addressvalidation_error>
                </observers>
            </ba_addressvalidation_send_response_before>
        </events>
        <jsconfig>
            <blueacorn_addressvalidation>
                <design>
                    <modal_width />
                    <verify_modaltext />
                </design>
            </blueacorn_addressvalidation>
        </jsconfig>
    </frontend>
    <default>
        <blueacorn_addressvalidation>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
            <checkout>
                <presentation>1</presentation>
                <city_state>0</city_state>
                <skip_on_equivalent>0</skip_on_equivalent>
                <display_errors>0</display_errors>
            </checkout>
            <design>
                <modal_width>400</modal_width>
                <verify_modaltext>Verify Your Address</verify_modaltext>
            </design>
        </blueacorn_addressvalidation>
    </default>
</config>