<?xml version="1.0"?>
<config>
    <tabs>
        <blueacorn translate="label" module="blueacorn_addressvalidation">
            <label>Blue Acorn</label>
            <sort_order>0</sort_order>
        </blueacorn>
    </tabs>
    <sections>
        <blueacorn_addressvalidation translate="label" module="blueacorn_addressvalidation">
            <label>Address Validation</label>
            <tab>blueacorn</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Module</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <enabled_domestic_apis translate="label">
                            <label>Enabled Domestic APIs</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>blueacorn_addressvalidation/system_config_source_api_domestic</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[For performance reasons, it is recommended to only enable one API in a
                            production environment. Note that to enable USPS, you must enter a User ID in the Shipping
                            Methods > USPS > User Id field.]]></comment>
                        </enabled_domestic_apis>
                        <enabled_international_apis translate="label">
                            <label>Enabled International APIs</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>blueacorn_addressvalidation/system_config_source_api_international</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Fill out credentials for these APIs in the settings below.]]></comment>
                        </enabled_international_apis>
                        <debug translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This mode will cause verbose logging and for performance reasons should
                            remain off in a production environment.]]></comment>
                        </debug>
                    </fields>
                </general>
                <strikeiron translate="label">
                    <label>StrikeIron Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <user_id translate="label">
                            <label>User ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user_id>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <base_url translate="label">
                            <label>Base URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </base_url>
                    </fields>
                </strikeiron>
                <checkout translate="label">
                    <label>Checkout</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <presentation translate="label">
                            <label>Presentation Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blueacorn_addressvalidation/system_config_source_presentation</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Modals require Fancybox to be enabled in Javascript Plugins > Modal Window Plugins.]]></comment>
                        </presentation>
                        <city_state translate="label">
                            <label>Auto-fill City/State Fields</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This setting will also move the city/state fields before the zip code field.]]></comment>
                        </city_state>
                        <skip_on_equivalent translate="label">
                            <label>Skip Validation for Equivalent Addresses</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This setting skips the validation step if the only difference in user input and
                            API output is capitalization.]]></comment>
                        </skip_on_equivalent>
                        <display_errors translate="label">
                            <label>Display Errors</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[The error message will only be displayed if validation fails across all
                                enabled APIs.]]></comment>
                        </display_errors>
                        <error_message translate="label">
                            <label>Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This message will be displayed depending on the verbosity setting above.
                                HTML is accepted here as well.]]></comment>
                        </error_message>
                    </fields>
                </checkout>
                <account translate="label">
                    <label>Account Dashboard</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <presentation translate="label">
                            <label>Presentation Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blueacorn_addressvalidation/system_config_source_presentation</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Modals require Fancybox to be enabled in Javascript Plugins > Modal Window Plugins.]]></comment>
                        </presentation>
                        <city_state translate="label">
                            <label>Auto-fill City/State Fields</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This setting will also move the city/state fields before the zip code field.]]></comment>
                        </city_state>
                        <skip_on_equivalent translate="label">
                            <label>Skip Validation for Equivalent Addresses</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This setting skips the validation step if the only difference in user input and
                            API output is capitalization.]]></comment>
                        </skip_on_equivalent>
                        <display_errors translate="label">
                            <label>Display Errors</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[The error message will only be displayed if validation fails across all
                                enabled APIs.]]></comment>
                        </display_errors>
                        <error_message translate="label">
                            <label>Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This message will be displayed depending on the verbosity setting above.
                                HTML is accepted here as well.]]></comment>
                        </error_message>
                    </fields>
                </account>
                <design translate="label">
                    <label>Design</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <modal_width translate="label">
                            <label>Modal Minimum Width</label>
                            <comment><![CDATA[Sets the Modal minimum width for both the address validation and error form.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </modal_width>
                        <verify_modaltext translate="label">
                            <label>Modal Verify Address Title</label>
                            <comment><![CDATA[Sets the title of the Verify Your Address Modal.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </verify_modaltext>
                    </fields>
                </design>
            </groups>
        </blueacorn_addressvalidation>
    </sections>
</config>
