.gitignore
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE.html
LICENSE_EE.txt
RELEASE_NOTES.txt
api.php
app/.htaccess
app/Mage.php
app/code/community/
app/code/core/
app/design/adminhtml/
app/design/frontend/base/
app/design/frontend/enterprise/
app/design/frontend/rwd/
app/design/install/
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.phpunit
app/etc/local.xml.template
app/etc/modules/Cm_RedisSession.xml
app/etc/modules/EcomDev_PHPUnit.xml
app/etc/modules/EcomDev_PHPUnitTest.xml
app/etc/modules/Enterprise_AdminGws.xml
app/etc/modules/Enterprise_Banner.xml
app/etc/modules/Enterprise_Bundle.xml
app/etc/modules/Enterprise_Catalog.xml
app/etc/modules/Enterprise_CatalogEvent.xml
app/etc/modules/Enterprise_CatalogInventory.xml
app/etc/modules/Enterprise_CatalogPermissions.xml
app/etc/modules/Enterprise_CatalogSearch.xml
app/etc/modules/Enterprise_Checkout.xml
app/etc/modules/Enterprise_Cms.xml
app/etc/modules/Enterprise_Customer.xml
app/etc/modules/Enterprise_CustomerBalance.xml
app/etc/modules/Enterprise_CustomerSegment.xml
app/etc/modules/Enterprise_Eav.xml
app/etc/modules/Enterprise_Enterprise.xml
app/etc/modules/Enterprise_GiftCard.xml
app/etc/modules/Enterprise_GiftCardAccount.xml
app/etc/modules/Enterprise_GiftRegistry.xml
app/etc/modules/Enterprise_GiftWrapping.xml
app/etc/modules/Enterprise_ImportExport.xml
app/etc/modules/Enterprise_Index.xml
app/etc/modules/Enterprise_Invitation.xml
app/etc/modules/Enterprise_License.xml
app/etc/modules/Enterprise_Logging.xml
app/etc/modules/Enterprise_Mview.xml
app/etc/modules/Enterprise_PageCache.xml
app/etc/modules/Enterprise_Pbridge.xml
app/etc/modules/Enterprise_Pci.xml
app/etc/modules/Enterprise_Persistent.xml
app/etc/modules/Enterprise_PricePermissions.xml
app/etc/modules/Enterprise_PromotionPermissions.xml
app/etc/modules/Enterprise_Reminder.xml
app/etc/modules/Enterprise_Reward.xml
app/etc/modules/Enterprise_Rma.xml
app/etc/modules/Enterprise_SalesArchive.xml
app/etc/modules/Enterprise_Search.xml
app/etc/modules/Enterprise_Staging.xml
app/etc/modules/Enterprise_TargetRule.xml
app/etc/modules/Enterprise_UrlRewrite.xml
app/etc/modules/Enterprise_WebsiteRestriction.xml
app/etc/modules/Enterprise_Wishlist.xml
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_Ogone.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/locale/
composer.json
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/
lib/
mage
magento_sample_data_for_1.14.0.0.sql
media/
modman
php.ini.sample
phpunit.xml.dist
pkginfo/
privatesales/
shell/
skin/adminhtml/
skin/frontend/base/
skin/frontend/enterprise/
skin/frontend/rwd/
skin/install/
test.php
var/
.htaccess
.idea/
app/design/frontend/blueacorn/default/etc/

