<config>
    <modules>
        <BlueAcorn_AjaxCart>
            <version>1.0.1</version>
        </BlueAcorn_AjaxCart>
    </modules>

    <global>
        <models>
            <blueacorn_ajaxcart>
                <class>BlueAcorn_AjaxCart_Model</class>
            </blueacorn_ajaxcart>
        </models>
        <blocks>
            <blueacorn_ajaxcart>
                <class>BlueAcorn_AjaxCart_Block</class>
            </blueacorn_ajaxcart>
        </blocks>
        <helpers>
            <blueacorn_ajaxcart>
                <class>BlueAcorn_AjaxCart_Helper</class>
            </blueacorn_ajaxcart>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <blueacorn_ajaxcart>
                    <file>blueacorn/ajaxcart.xml</file>
                </blueacorn_ajaxcart>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <BlueAcorn_AjaxCart before="Mage_Checkout">BlueAcorn_AjaxCart</BlueAcorn_AjaxCart>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blueacorn_ajaxcart>
                                            <title>AJAX Cart</title>
                                        </blueacorn_ajaxcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <blueacorn_ajaxcart>
            <general>
                <enabled>1</enabled>
            </general>
        </blueacorn_ajaxcart>
    </default>
</config>