<?xml version="1.0"?>
<!--
/**
 * @package     BlueAcorn\AjaxCart
 * @version     1.0.0
 * @author      Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2015 Blue Acorn, Inc.
 */
 -->
<config>
    <tabs>
        <blueacorn translate="label" module="blueacorn_ajaxcart">
            <label>Blue Acorn</label>
            <sort_order>1000</sort_order>
        </blueacorn>
    </tabs>
    <sections>
        <blueacorn_ajaxcart translate="label" module="blueacorn_ajaxcart">
            <label>AJAX Cart</label>
            <tab>blueacorn</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="blueacorn_ajaxcart">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                    </fields>
                </general>
            </groups>
        </blueacorn_ajaxcart>
    </sections>
</config>