<?xml version="1.0"?>
<!--/*
 * @package     BlueAcorn/AmqpProduct
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_entitymap_decode_after">
        <observer name="aggregateCustomAttributesAfterDecode" instance="BlueAcorn\AmqpProduct\Observer\AggregateCustomAttributes"/>
        <observer name="removeUnknownAttributesAfterDecode" instance="BlueAcorn\AmqpProduct\Observer\IgnoreUnknownAttributes"/>
    </event>
</config>
