<?xml version="1.0"?>
<!--
/**
* @package     BlueAcorn\AttributeFlag
* @version     0.1.0
* @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
* @copyright   Copyright © 2015 Blue Acorn, Inc.
*/
-->
<config>
    <tabs>
        <blueacorn translate="label" module="ba_attributeflag">
            <label>Blue Acorn</label>
            <sort_order>99999</sort_order>
        </blueacorn>
    </tabs>
    <sections>
        <ba_attributeflag translate="label" module="ba_attributeflag">
            <label>Attribute Flags</label>
            <tab>blueacorn</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <module_enabled translate="label">
                            <label>Module Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </module_enabled>
                        <flags_enabled translate="label">
                            <label>Flags Enabled</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ba_attributeflag/system_config_source_flag</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </flags_enabled>
                        <max_flags translate="label">
                            <label>Maximum number of flags to display per product</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero validate-digits</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_flags>
                    </fields>
                </general>
                <display translate="label">
                    <label>Display</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <page translate="label">
                            <label>Display on pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ba_attributeflag/system_config_source_page</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page>
                        <blocks translate="label">
                            <label>Display on blocks</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ba_attributeflag/system_config_source_block</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blocks>
                    </fields>
                </display>
            </groups>
        </ba_attributeflag>
    </sections>
</config>