<?xml version="1.0"?>
<!--/*
 * @package     BlueAcorn/AmqpBase
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_ba_amqp">
        <observer name="amqpSaveStartAllConsumers" instance="BlueAcorn\AmqpBase\Observer\StartAllConsumers"/>
    </event>
</config>
