<?xml version="1.0"?>
<!--/*
 * @package     BlueAcorn\ShipmentIntegration
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BlueAcorn_ShipmentIntegration" setup_version="1.0.0">
    	<sequence>
            <module name="BlueAcorn_ShipmentIntegration"/>
            <module name="BlueAcorn_EntityMap"/>
        </sequence>
    </module>
</config>
