<?xml version="1.0"?>
<!--/**
 * @package     BlueAcorn\LayeredNavigation
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <layered_navigation>
                <dependency_join>AND</dependency_join>
                <multivalue_filter_enable>0</multivalue_filter_enable>
                <price_slider_enable>0</price_slider_enable>
                <price_slider_narrow>0</price_slider_narrow>
                <price_slider_step>1.00</price_slider_step>
                <price_slider_minimum_range>0</price_slider_minimum_range>
            </layered_navigation>
        </catalog>
    </default>
</config>