<?xml version="1.0"?>
<!--/**
 * @package     BlueAcorn\LayeredNavigation
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Override catalog search filter models -->
    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Magento\CatalogSearch\Model\Layer\Filter\Price</item>
                <item name="decimal" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\Filter\Decimal</item>
                <item name="category" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="searchFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Magento\CatalogSearch\Model\Layer\Filter\Price</item>
                <item name="decimal" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\Filter\Decimal</item>
                <item name="category" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Initialize facet with initial category -->
    <type name="Magento\CatalogSearch\Model\Layer\Category\ItemCollectionProvider">
        <plugin name="getCategoryFilterForMirror" type="BlueAcorn\LayeredNavigation\Plugin\FacetInitializer" />
    </type>
    <!-- Preference for State and injection into Catalog Layer -->
    <preference for="Magento\Catalog\Model\Layer\State" type="BlueAcorn\LayeredNavigation\Model\Layer\State" />
    <virtualType name="BlueAcorn\LayeredNavigation\Model\Layer\StateFactory" type="Magento\Catalog\Model\Layer\StateFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">BlueAcorn\LayeredNavigation\Model\Layer\State</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Layer">
        <arguments>
            <argument name="layerStateFactory" xsi:type="object">BlueAcorn\LayeredNavigation\Model\Layer\StateFactory</argument>
        </arguments>
    </type>
</config>