<!--/*
 * @package     BlueAcorn/AmqpBase
 * @version     0.2.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<!--@subject {{var email_subject}} @-->
<!--@vars {
"var consumer":"Consumer",
"var message":"Message",
"var stack_trace":"Stack Trace",
"var date_and_time":"Date and Time of Error",
} @-->

<h1>{{trans "Amqp Alert"}}</h1>

<ul>
    <li>
        <b>{{trans "Consumer"}}</b><br />
        {{var consumer}}
    </li>
    <li>
        <b>{{trans "Message"}}</b><br />
        {{var message}}
    </li>
    <li>
        <b>{{trans "Stack Trace"}}</b><br />
        {{var stack_trace|raw}}
    </li>
    <li>
        <b>{{trans "Date & Time:"}}</b><br />
        {{var date_and_time}}
    </li>
</ul>
