<?xml version="1.0"?>
<!--/**
 * @package     BlueAcorn\LayeredNavigation
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ba_layered_nav" frontName="ba_layered_nav">
            <module name="BlueAcorn_LayeredNavigation" before="Magento_Backend" />
        </route>
    </router>
</config>
