<?xml version="1.0"?>
<!--/**
 * @package     BlueAcorn\LayeredNavigation
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="layered_navigation">
                <field id="multivalue_filter_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Multi Value Filtering</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This setting allows filtering by multiple values (in an OR condition) for select/multiselect attributes.</comment>
                </field>
                <field id="price_slider_enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Price Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_slider_narrow" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Incrementally Narrow Price Range</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled, the min and max of the slider will be restricted by the current applied price filter.
                        That is, the size of the collection will <i>not</i> increase when applying price filter.]]></comment>
                    <depends>
                        <field id="price_slider_enable">1</field>
                    </depends>
                </field>
                <field id="price_slider_step" translate="label" type="text" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discrete Interval When Sliding</label>
                    <validate>validate-number validate-number-range number-range-0-1000000000</validate>
                    <depends>
                        <field id="price_slider_enable">1</field>
                    </depends>
                </field>
                <field id="price_slider_minimum_range" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Price Range For Slider Display</label>
                    <validate>validate-number validate-number-range number-range-0-1000000000</validate>
                    <depends>
                        <field id="price_slider_enable">1</field>
                    </depends>
                </field>
                <field id="display_product_count" sortOrder="50">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="price_range_calculation" sortOrder="100">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="price_range_step" sortOrder="150">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="price_range_max_intervals" sortOrder="200">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="one_price_interval" sortOrder="150">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="interval_division_limit" sortOrder="200">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
