<?xml version="1.0"?>
<!--/**
 * @package     BlueAcorn\LayeredNavigation
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="layered_navigation">
                <field id="price_slider_enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Price Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_slider_minimum_range" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Price Range For Slider Display</label>
                    <validate>validate-number validate-number-range number-range-0-1000000000</validate>
                    <depends>
                        <field id="price_slider_enable">1</field>
                    </depends>
                </field>
                <field id="display_product_count">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="price_range_calculation" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="price_range_step" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="price_range_max_intervals" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="one_price_interval" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
                <field id="interval_division_limit" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="price_slider_enable">0</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
