<?xml version="1.0"?>
<!--/*
 * @package     BlueAcorn/AmqpBase
 * @version     1.0.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="installTopologyCommand" xsi:type="object">BlueAcorn\AmqpBase\Console\InstallTopologyCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\PublisherFactory">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="amqp" xsi:type="array">
                    <item name="type" xsi:type="object">BlueAcorn\AmqpBase\Model\Publisher</item>
                    <item name="connectionName" xsi:type="string">amqp</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ExchangeRepository">
        <arguments>
            <argument name="exchanges" xsi:type="array">
                <item name="amqp" xsi:type="string">BlueAcorn\AmqpBase\Model\Exchange</item>
            </argument>
        </arguments>
    </type>
    <type name="BlueAcorn\AmqpBase\Model\Publisher">
        <arguments>
            <argument name="defaultMessageProperties" xsi:type="array">
                <item name="delivery_mode" xsi:type="number">2</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Converter">
        <plugin name="consumer_config_structure_converter_plugin" type="BlueAcorn\AmqpBase\Plugin\System\Config\Structure\Converter" />
    </type>
    <type name="Magento\Framework\App\Config\Initial\Converter">
        <plugin name="consumer_config_initial_converter_plugin" type="BlueAcorn\AmqpBase\Plugin\System\Config\Initial\Converter" />
    </type>
</config>
