<?xml version="1.0"?>
<!--/*
 * @package     BlueAcorn/AmqpBase
 * @version     0.2.0
 * @author      Sam Tay @ Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2016 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MessageQueue\Console\StartConsumerCommand" type="BlueAcorn\AmqpBase\Console\StartConsumerCommand"/>
    <preference for="Magento\MessageQueue\Console\ConsumerListCommand" type="BlueAcorn\AmqpBase\Console\ConsumerListCommand"/>
    <preference for="Magento\Amqp\Model\Topology" type="BlueAcorn\AmqpBase\Model\Topology"/>
    <preference for="BlueAcorn\AmqpBase\Api\Data\AlertInterface" type="BlueAcorn\AmqpBase\Model\Alert"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="installTopologyCommand" xsi:type="object">BlueAcorn\AmqpBase\Console\InstallTopologyCommand</item>
                <item name="startAllConsumersCommand" xsi:type="object">BlueAcorn\AmqpBase\Console\StartAllConsumersCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="BlueAcorn\AmqpBase\Model\Shell\CommandRendererBackground">
        <arguments>
            <argument name="pipeDestination" xsi:type="string">/var/log/ba_amqp_command.log</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\PublisherFactory">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="amqp" xsi:type="array">
                    <item name="type" xsi:type="object">BlueAcorn\AmqpBase\Model\Publisher</item>
                    <item name="connectionName" xsi:type="string">amqp</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ExchangeRepository">
        <arguments>
            <argument name="exchanges" xsi:type="array">
                <item name="amqp" xsi:type="string">BlueAcorn\AmqpBase\Model\Exchange</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ConsumerFactory">
        <arguments>
            <argument name="consumers" xsi:type="array">
                <item name="amqp" xsi:type="array">
                    <item name="type" xsi:type="string">BlueAcorn\AmqpBase\Model\Consumer</item>
                    <item name="connectionName" xsi:type="string">amqp</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="BlueAcorn\AmqpBase\Model\Publisher">
        <arguments>
            <argument name="defaultMessageProperties" xsi:type="array">
                <item name="delivery_mode" xsi:type="number">2</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Converter">
        <plugin name="consumer_config_structure_converter_plugin" type="BlueAcorn\AmqpBase\Plugin\System\Config\Structure\Converter" />
    </type>
    <type name="Magento\Framework\App\Config\Initial\Converter">
        <plugin name="consumer_config_initial_converter_plugin" type="BlueAcorn\AmqpBase\Plugin\System\Config\Initial\Converter" />
    </type>
    <!-- Utilizing core module for custom logger -->
    <virtualType name="BlueAcornAmqpBaseLogger" type="BlueAcorn\Core\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">BlueAcorn Amqp Base Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="base" xsi:type="object">BlueAcornAmqpBaseLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BlueAcornAmqpBaseLoggerHandler" type="BlueAcorn\Core\Model\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/amqp/base.log</argument>
        </arguments>
    </virtualType>
    <type name="BlueAcorn\AmqpBase\Helper\LogManager">
        <arguments>
            <argument name="loggers" xsi:type="array">
                <item name="base" xsi:type="object">BlueAcornAmqpBaseLogger</item>
            </argument>
        </arguments>
    </type>
</config>
